<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
		{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
		<!-- {{ partial "global-header.html"}} -->
		<section id="global-header">
		<!--<img src="../img/contact-slider-bg.jpg" alt="header img" class="img-header">-->
		
		<img{{ with .Params.bgImage }} src="{{ . }}"{{ end }} alt="{{ .Title }}" class="img-header">
 <div class="bg-overlay"></div>
		  <div class="container">
			<div class="row">
			  <div class="col-md-12">
				<div class="block">
				  <h1>{{ .Title }}</h1>
				 
				</div>
			  </div>
			</div>
		  </div>
		</section>
		<main>
		<div class="container">
		<p>&nbsp;</p>
		<p>
                       {{ if isset .Params "pdfurl" }} 
						<object data="{{ .Params.pdfURL | absURL}}" type="application/pdf" width="100%" height="600">
							<embed src="{{ .Params.pdfURL | absURL}}" type="application/pdf" />
						</object>
						<iframe src="https://docs.google.com/viewer?url=https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf&embedded=true" frameborder="0" height="500px" width="100%"></iframe>
                           {{ end }} 
						<!--  <ol>
 <li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Noncompetitive inhibition of hepatitis B virus reverse transcriptase protein priming and DNA synthesis by the nucleoside analog clevudine; S. A. Jones , E. Murakami, W. Delaney, P. Furman, J. Hu; Antimicrob. Agents Chemother. 57: 4181-4189, 2013.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">A comparison of 48-week treatment efficacy between clevudine and entecavir in treatment-naive patients with chronic hepatitis B; S. R. Shin, B. C. Yoo, M. S. Choi, D. H. Lee, S. M. Song, J. H. Lee, K. C. Koh, S. W. Paik; Hepatol Int. 5: 644-670, 2011.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">A 12-week clevudine therapy showed potent and durable antiviral activity in HBeAg-positive chronic hepatitis B; H.-S. Lee, Y.-H. Chung, K. Lee, K. S. Byun, S. W. Paik, J.-Y. Han, K. Yoo, H.-W. Yoo, J. H. Lee, B. C. Yoo; Hepatology. 43(5): 982-988, 2006.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Clinical trial: a phase II, randomized study evaluating the safety, pharmacokinetics and anti-viral activity of clevudine for 12 weeks in patients with chronic hepatitis B; S. G. Lim, N. Leung, H. W. L. Hann, G. K. K. Lau, C. Trepo, H. Mommeja-Marin, C. Moxham, J. Sorbel, A. Snow, M. R. Blum, F. Rousseau, P. Marcellin; Aliment Pharmacol Ther. 27: 1282-1292, 2008.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Twenty-four-week clevudine therapy showed potent and sustained antiviral activity in HBeAg-positive chronic hepatitis B; B. C. Yoo, J. H. Kim, Y.-H. Chung, K. S. Lee, S. W. Paik, S. H. Ryu, B. H. Han, J.-Y. Han, K. S. Byun, M. Cho, H.-J. Lee, T.-H. Kim, S.-H. Cho, J.-W. Park, S.-H. Um, S. G. Hwang, Y. S. Kim, Y.-J. Lee, C. Y. Chon, B.-I. Kim, Y.-S. Lee, J.-M. Yang, H. C. Kim, J. S. Hwang, S.-K. Choi, Y.-O. Kweon, S.-H. Jeong, M.-S. Lee, J.-Y. Choi, D.-G. Kim, Y. S. Kim, H. Y. Lee, K. Yoo, H.-W. Yoo, H.-S. Lee; Hepatology. 45: 1172-1178, 2007.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Clevudine is highly efficacious in hepatitis B e antigen-negative chronic hepatitis B with durable off-therapy viral suppression; B. C. Yoo, J. H. Kim, T.-H. Kim, K. C. Koh, S.-H. Um, Y. S. Kim, K. S. Lee, B. H. Han, C. Y. Chon, J.-Y. Han, S. H. Ryu, H. C. Kim, K. S. Byun, S. G. Hwang, B.-I. Kim, M. Cho, K. Yoo, H.-J. Lee, J. S. Hwang, Y. S. Kim, Y.-S. Lee, S.-K. Choi, Y.-J. Lee, J.-M. Yang, J.-W. Park, M.-S. Lee, D.-G. Kim, Y.-H. Chung, S.-H. Cho, J.-Y. Choi, Y.-O. Kweon, H. Y. Lee, S.-H. Jeong, H.-W. Yoo, H.-S. Lee; Hepatology. 46: 1041-1048, 2007</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">A randomized, open-label study comparing low-dose clevudine plus adefovir combination therapy with clevudine monotherapy in naive chronic hepatitis B patients; W. Y. Tak, J. M. Yang, B. I. Kim, S. K. Baik, G. J. Cheon, K. S. Byun, D. Y. Kim, B. C. Yoo; Hepatol Int. 8: 375-381, 2014.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Hepatitis delta: epidemiology, diagnosis and management 36 years after discovery; M. Noureddin, R. Gish; Curr Gastroenterol Rep. 16: 365, 2014.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Clevudine inhibits hepatitis delta virus viremia: a pilot study of chronically infected woodchucks; J. Casey, P. J. Cote, I. A. Toshkov, C. K. Chu, J. L. Gerin, W. E. Hornbuckle, B. C. Tennant, B. E. Korba; Antimicrob. Agents Chemother. 49: 4396-4399, 2005</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">Clinical trial: a phase II, randomized study evaluating the safety, pharmacokinetics and anti-viral activity of clevudine for 12 weeks in patients with chronic hepatitis B; S .G. Lim, N. Leung, H. W. L. Hann, G. K. K. Lau, C. Trepo, H. Mommeja-Marin, C. Moxham, J. Sorbel, A. Snow, M. R. Blum, F. Rousseau, P. Marcellin; Aliment Pharmacol Ther. 27: 1282-1292, 2008.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">A phase II dose-escalating trial of clevudine in patients with chronic hepatitis B; P. Marcellin, H. Mommeja-Marin, S. L. Sacks, G. K. K. Lau, D. Sereni, J.-P. Bronowicki, B. Conway, C. Trepo, M. R. Blum, B. C. Yoo, E. Mondou, J. Sorbel, A. Snow, F. Rousseau, H.-S. Lee; Hepatology. 40: 140-148, 2004.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">JNJ-56136379, an HBV Capsid Assembly Modulator, Is Well-Tolerated and Has Antiviral Activity in a Phase 1 Study of Patients With Chronic Infection; F. Zoulim, O. Lenz, J. J. Vandenbossche, W. Talloen, T. Verbinnen, I. Moscalu, A. Streinu-Cercel, S. Bourgeois, M. Buti, J. Crespo, J. M. Pascasio, C. Sarrazin, T. Vanwolleghem, U. Shukla, J. Fry, J. Z. Yogaratnam; Gastroenterology. 159: 521-533, 2020.</a></li>
<li><a href="https://www.antiostherapeutics.com/files/Antimicrobial-Agents-and-Chemotherapy-2020-Squires-e00836-20full.pdf" target="_blank">A phase II dose-escalating trial of clevudine in patients with chronic hepatitis B; P. Marcellin, H. Mommeja-Marin, S. L. Sacks, G. K. K. Lau, D. Sereni, J.-P. Bronowicki, B. Conway, C. Trepo, M. R. Blum, B. C. Yoo, E. Mondou, J. Sorbel, A. Snow, F. Rousseau, H.-S. Lee; Hepatology. 40: 140-148, 2004.</a></li>
<li><a href="https://www.natap.org/2020/EASL/EASL_76.htm" target="_blank">Hall S, Burns G, Levy M, et al. A prospective study of nucleot(s)ide analogue discontinuation in non-cirrhotic HBeAg-negative chronic hepatitis B patients: interim analysis at week 48 demonstrates profound reductions of HBsAg associated with ALT flare. EASL 2020, Digital International Liver Congress, August 27-29, 2020. Abstract AS095.</a></li>
<li><a href="https://www.journal-of-hepatology.eu/article/S0168-8278(20)30674-7/pdf" target="_blank">A prospective study of nucleot(s)ide analogue discontinuation in non-cirrhotic HBeAg-negative chronic hepatitis B patients: interim analysis at week 48 demonstrates profound reductions of HBsAg associated with ALT flare; S. Hall, G. Burns, M. Levy, J. Lubel, A. Nicoll, G. Matthews, P. Desmond, W. Sievert, S. Bowden, S. Locarnini, J. Holmes, K. Visvanathan, A. Thompson; Journal of Hepatology. 73: S69-S70, 2020.</a></li>
</ol>-->
           </p>    
		</div>
		</main>
	{{ end }}

	{{ partial "call-to-action.html" . }}

	{{ partial "footer.html" . }}

	
</body>
</html>