<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}
		{{ if isset .Params "id" }}
		{{ partial .Params.id . }}
	{{ else }}
		<!-- {{ partial "global-header.html"}} -->
		<section id="global-header">
		<!--<img src="../img/contact-slider-bg.jpg" alt="header img" class="img-header">-->
		
		<img{{ with .Params.bgImage }} src="{{ . }}"{{ end }} alt="{{ .Title }}" class="img-header">
 <div class="bg-overlay"></div>
		  <div class="container">
			<div class="row">
			  <div class="col-md-12">
				<div class="block">
				  <h1>{{ .Title }}</h1>
				 
				</div>
			  </div>
			</div>
		  </div>
		</section>
		<main>
		<div class="container">
		
		{{ if eq .Slug "hepatitis-b-virus" }}
			{{ partial "testimonial.html" . }}
		{{ end }}
		
		{{ if eq .Slug "investors" }} 
		<div class="investor">
		{{ end }}
		<!-- <h1>{{.Title}} </h1>-->
		 <p>&nbsp;</p>
		{{ .Content }}
		{{ if eq .Slug "investors" }} 
		</div>
		{{ end }}
		
		
		
		</div>
		</main>
	{{ end }}

	{{ partial "call-to-action.html" . }}

	{{ partial "footer.html" . }}

	
</body>
</html>