/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */
 @font-face {
    font-family: 'maison_neuebook';
    src: url('../fonts/maisonneue-book-webfont.woff2') format('woff2'),
         url('../fonts/maisonneue-book-webfont.woff') format('woff');
		 url('../fonts/maisonneue-book-webfont.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'maison_neuelight';
    src: url('../fonts/maisonneue-light-webfont.woff2') format('woff2'),
         url('../fonts/maisonneue-light-webfont.woff') format('woff');
		 url('../fonts/maisonneue-light-webfont.otf') format('woff');
		 url('../fonts/maisonneue-light-webfont.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{font-size: 16px;line-height: 26px; font-family: 'maison_neuelight', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'maison_neuebook', sans-serif;}
p{font-size: 16px;line-height: 26px;font-family: 'maison_neuelight', sans-serif;}
#contact-box .block h2, #slider .block h1, #slider-contact .block h1, #contact-box .block h2{font-family: 'maison_neuebook', sans-serif;}

#slider .block p, #slider-contact .block p, #contact-form .block button{font-family: 'maison_neuelight', sans-serif;}


#intro p{font-size: 16px !important;line-height: 26px !important;}
 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}
.people-count {}
.people-count h4 {
	margin-bottom: 0px!important;
}
.people-txt {
	font-weight: 600;
    font-size: 18px;
    display: block;
	margin-bottom:2px;
}
.col-fix{width:12.5%; float:left;}
.about-section{padding:25px 0px 50px;}
.about-section{text-align:center;}
.about-section .section-title {
    padding-top: 20px !important;
}
#feature h2 {color:#2b8caa; font-weight:300;}
.section-title h2 {color:#2b8caa;font-weight:300;}
#global-header:before {
    opacity: 0.3 !important;
}
.testi-section h3{font-size:22px; color:#2b8caa;margin-top: 32px; text-align:center;}
.contact-dts h2{margin-top:0px !important; margin-bottom: 25px;}
#global-header{background:none !important;}
img.img-header{
position: absolute;
bottom: 0px;
left: 0px;
right: 0px;
width: 100%;
height: 100%;
object-fit: cover;
max-height: 300px;
}
.bg-overlay{width:100%;height:100%; position:absolute;background:rgba(0, 0, 0, 0.3);content:"";left:0px;top:0px;}
.news-header{width:100%;height:100%; position:absolute;background:#ffffff;content:"";left:0px;top:0px;}
.news-global-header  h1{color:#2b8caa !important;}
.global-cont p{margin-bottom:15px !important;}
#testimonial .section-title {
    margin-bottom: 20px;
}
.directors-row h5{margin-bottom: 0px;}
.directors-row h3{margin-top: 3px;font-size: 12px;}

.directors-details .directors-row h5{margin-bottom:0px;}
.directors-details .directors-row h3{margin-top: 5px;font-size: 20px;}
.leadership-section.directors-row aside{border:none !important;}
#global-header  h1.block3{color: #2b8caa !important;}

@media only screen and (max-width: 767px){
	#testimonial .counter-box li h4 {font-size: 18px;}
	#slider{background-attachment: initial;}
    .cus-topspace .main-nav .navbar-nav li{display:block !important;}
    .cus-topspace .main-nav .navbar-nav li a{text-align:left !important; padding: 8px 30px !important;}
}

