<!DOCTYPE html>
<html>
<head>
	{{ partial "head.html" . }}
</head>
<body>

	{{ partial "header.html" . }}

	<div class="post">
	  <!-- Wrapper Start -->
	  <section id="intro" style="border: 1px dotted #ddd;">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	          <div class="block top-space-2">
	            <!-- <h1>{{ .Params.title }}</h1>
				<h4>{{ .Params.description }}</h4> -->
	           				
				
				<div class="row directors-details">
				<div class="col-md-6"><img{{ with .Params.bgImage }} src="{{ . }}"{{ end }} alt="{{ .Title }}" class="img-responsive m-t-15"></div>
				<div class="col-md-6 directors-row">
				<div class="details">
				 <h4>{{ .Params.title }}</h4>
				 <h5>{{ .Params.position }}</h5>
				 <h5>{{ .Params.subPosition }}</h5>
				 {{ .Content }}
				 </div>
				</div>
				</div>
	          </div>
	        </div><!-- .col-md-7 close -->
	      </div>
	    </div>
	  </section>
	</div>
	

	{{ partial "call-to-action.html" . }}

	{{ partial "footer.html" . }}
</body>
</html>