{{ partial "global-header.html" .Site.Params.contact }}
<!-- contact form start -->
{{ with .Site.Params.contact }}
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form method="POST" action="https://formspree.io/info@antiostherapeutics.com">
            <div class="form-group">
              <input type="text" name="name" required="true" class="form-control" placeholder="{{ .form.name }}">
            </div>
            <div class="form-group">
              <input type="text" name="email" required="true" class="form-control" placeholder="{{ .form.email }}">
            </div>
           <!-- <div class="form-group">
              <input type="text" class="form-control" placeholder="{{ .form.subject }}">
            </div>-->
         
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
         
            <div class="form-group-2">
              <textarea class="form-control cform" name="message" required="true" rows="3" placeholder="{{ .form.message }}"></textarea>
			  <input type="hidden" name="_next" value="https://antios-therapeutics.netlify.com/contact/"/>
            </div>
            <button class="btn btn-default" type="submit">{{ .form.button }}</button>
          </form>
        </div>
      </div>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">

          <h2>{{ .box.title }}</h2>
          <ul class="address-block">
            <!--<li>
              <i class="fa fa-map-marker"></i>{{ .box.address }}
            </li>-->
            <li>
              <i class="fa fa-envelope-o"></i>{{ .box.email }}
            </li>
			<li>
              <i class="fa fa-envelope-o"></i>{{ .box.email2 }}
            </li>
            <!--<li>
              <i class="fa fa-phone"></i>{{ .box.phone }}
            </li>-->
          </ul>
          <ul class="social-icons">
          {{ range .social }}  
            <li>
              <a href="{{ .url }}"><i class="fa {{ .icon }}"></i></a>
            </li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        {{ with .gmaps}}
        <div class="block">
          <h2>{{ .title }}</h2>
            <div class="google-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106135.29706072665!2d-84.4906435934256!3d33.767693119751215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5045d6993098d%3A0x66fede2f990b630b!2sAtlanta%2C+GA%2C+USA!5e0!3m2!1sen!2sin!4v1556174509647!5m2!1sen!2sin" width="555" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}