<!-- Slider Start -->
<section id="global-header" class="news-global-header">
<div  class="news-header"></div>
 <!-- <img src="../img/contact-slider-bg.jpg" alt="header img" class="img-header"> 
 <img{{ with .Params.bgImage }} src="{{ . }}"{{ end }} alt="{{ .Title }}" class="img-header">
 <div class="bg-overlay"></div>-->
<div class="container">
		<div class="row">
		  <div class="col-md-12">
			<div class="block">
			  <h1>{{ .title }}</h1>
			  <p>{{ .subtitle }}</p>
			</div>
		  </div>
		</div>
	</div>
</section>