<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ .Site.BaseURL }}">
              <img src="{{ .Site.BaseURL }}img/logo.svg" alt="{{ .Title }} Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><div><a href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></div></li>
              {{ range .Site.Menus.header }}
                {{ if .HasChildren }}
              <li class="dropdown">
                <!--<a href="{{ .URL | absLangURL }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>-->
				<div>  <a href="{{ .URL | absLangURL }}" >{{ .Name }}</a> <span class="ion-ios-arrow-down"></span></div>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                  <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </li>
              {{ else }}
              <li><div><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></div></li>
              {{ end }}
              {{ end }}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
 {{ if or (eq .Slug "about") (eq .Slug "investors") (eq .Slug "board-of-directors") (eq .Slug "scientific-advisors") (eq .Slug "benjamin-rovinski") (eq .Slug "nicole-vitullo") (eq .Slug "scott-morenstein") (eq .Slug "henry-chen") (eq .Slug "abel-de-la-rosa-phd")  (eq .Slug "leadership") (eq .Slug "doug-mayers") (eq .Slug "abel-de-la-rosa") (eq .Slug "idean-marvasty") (eq .Slug "robert-g-gish") (eq .Slug "marion-g-peters") }}

 <div class="cus-topspace">
<div class="navbar navbar-default navbar-static-top m-b-0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav">
				{{ range .Site.Menus.about }}
                    <li><a href="{{ .URL }}/">{{ .Name }}</a></li>
{{ end }}
</ul>
            </div>
        </div>

</div>
</div>
{{ end }}

{{ if or (eq .Slug "science") (eq .Slug "publications") }} 
<div class="cus-topspace">
<div class="navbar navbar-default navbar-static-top m-b-0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".main-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse main-nav">
                <ul class="nav navbar-nav">
				{{ range .Site.Menus.science }}
                    <li><a href="{{ .URL }}/">{{ .Name }}</a></li>
{{ end }}
</ul>
            </div>
        </div>

</div>
</div>


{{ end }}